:root{
  background-color: #ffe879;
  font-size: 16px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  min-height: 100vh;
}

.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
  row-gap: 4em;
}

.display{
  min-width: 4em;
  font-size: 4rem;
  text-align: center;
  color: #fafafa;
}

.display.beep{
  text-align: left;  
}

.display.boop{
  text-align: right;
}

button{
  font-size: 1rem;
  padding: 1em;
  border-radius: 1em;
  border: none;
  box-shadow: 0 8px 0 0 #0002;
  position: relative;  
  background-color: #f77;
}

button:hover{
  cursor: pointer;
}

button:active{
  top: 2px;
  box-shadow: 0 6px 0 0 #0002;
}

/* font size for bigger screens */
@media screen and (min-width: 500px) {
  :root{
    font-size: 24px;
  }
}

/* font size for bigger bigger screens */
@media screen and (min-width: 900px) {
  :root{
    font-size: 32px;
  }
}